body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to bottom, black 50%, limegreen 50%);
}
.btn-btn-primary {
    background-color: rgba(52, 152, 219, 0.8); 
    color: #fff; 
    padding: 10px 40px; 
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

/* Hover effect */
.btn-btn-primary:hover {
    background-color: rgba(41, 128, 185, 0.8); 
}

.btn-btn-primary:focus {
    outline: none;
}

.form-control-sm {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-control-sm:hover {
    border-color: #3498db; /* Border color on hover */
}

.form-control-sm:focus {
    border-color: #3498db; /* Border color on focus */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8); /* Shadow effect on focus */
}
.popup{
    visibility: visible;
    
}
.inner-popup{
    background-color: grey;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Set a high z-index value to ensure it's on top */
    background-color: #fff; /* Set the desired background color */
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #000; /* Optional: Add border for better visibility */
    display:flex;
    align-items:center;
    justify-content: center;
    z-index:1;  
    width:300px;
}
.inner-popup{
    background-color:white;
    padding:30px;
    text-align:center;
}

.return-home:hover{
    text-decoration: none;
}